ACCESS_TOKEN = 'EAAMy3As4sIgBQsLwGRotFO9m1367cHTOKPc6WpqG2QfZAcDPNBWnBzEZBFoDC70wMdlh8m7kAKcYqi9viiovwCnpkUw8tWCQowGJZCeDZBSyF6SCNrzEPZCmJ2QoVtGnBjUElIWGyWuwjMjnLh14m0W1nx88lBtjYSqKRsVBz4VpUBSdG2ZAVqsZAX8rAsG0ucTS1ysJDq8'
AD_ACCOUNT_ID = 'act_609787644136633'
APP_ID = '900345592590472'
APP_SECRET = '2e296dff64c5e4341b24b3a7dad46d3b'