ACCESS_TOKEN = 'EAAMy3As4sIgBQqWqZC4uQZCLuhFGZALooSY1TFu9IsXsiyPwYKmJhoNIgyGAPUv3yQepLuCnz7Sknr7DRzFNcD4te3z3ZA2lKtYAyH0ZB08KIM2sWdjJ76GMHmIZBncfyk0ZB1p2spNPDqSPHSMC5JZCvzXyqZCD5zZB6ZAtpB0m8aVg41IScbINqiApZAPWXM3UUfZBZA9EXH8AiwJNGG5Oy5ZAqyaZCULL0cxVAlv4VQlaIjgMK4q2YKqNgsMR7YBiOgtuqKB8xWq0aXt1PUxkxNj86IiXfN7V'
AD_ACCOUNT_ID = 'act_609787644136633'
APP_ID = '900345592590472'
APP_SECRET = '2e296dff64c5e4341b24b3a7dad46d3b'